<div style="padding: 20px">
  <h1>Animation Angular</h1>
  <button (click)="toutAnimer()" mat-raised-button color="accent">Animer une fois</button>
  <button (click)="boucleAnimer()" mat-raised-button color="accent">Animer en boucle</button>
  <div [@shake]="ng_shake" class="square" style="background-color: red;"></div>

  <div [@bounce]="ng_bounce" class="square" style="background-color: green;"></div>

  <div [@tada]="ng_tada" class="square" style="background-color: blue;"></div>
</div>
<div style="padding: 20px">
  <h1>Animation CSS</h1>
  <button (click)="rotateMe()" mat-raised-button color="accent">Faire tourner</button>
  <div [class.rotate-left]="rotate" class="square" style="background-color:orange;"></div>
</div>
